*{
    font-family: 'Roboto', sans-serif;
    color: #BBBBBB;
    margin: 0;
    border: 0;
    padding: 0;
}

html{
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right bottom,
    #404030,#070707);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main{
    text-align: center;
    flex-grow:1;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    width: 100%;
}

.nav-button{
    font-variant-caps: small-caps;
    border: solid 2px;
    text-align: center;
    padding: 0px;
    width: 150px;
    margin: 0px;
    line-height: 50px;
}
.nav-button-admin{
    width: 250px;
}

.error{
    color:#ff0000;
}

a{
    text-decoration: none;
}


.textleft{
    text-align:left;
}

table{
    margin: auto;
}

tr{
    height: 44px;
}
td{
    vertical-align: middle;
}


.header{
    margin-bottom:0;
    margin-top:1vw;
    margin-left:1vw;
    margin-right:1vw;
    display: block;
}

.inner_header{
    padding: 5vh;
    display: table;
    margin: 0 auto;
    text-align: center;
    vertical-align: center;
    height: 100%;
}

.footer{
    width: 100%;
}
.inner_footer{
    padding: 0.3vw;
    margin: 0 auto;
    text-align: right;
    vertical-align: center;
    height: 100%;
    font-size: 1.3vh;
    float: right;
}
.admin_button{
     padding: 0.3vw;
     margin: 0 auto;
     text-align: left;
     vertical-align: center;
     height: 100%;
     font-size: 1.3vh;
     float: left;
}
input{
    cursor: pointer;
    padding: 1vw;
    width: 16vw;
    color: #000000;
}

button{
   cursor: pointer;
   border-radius: 1vw;
   border: 0.1vw solid;
   padding: 1vw;
   color: #BBBBBB;
   background-color: transparent;
   font-size: 1vw;
   border-color: #BBBBBB;
   outline: none;
}

.spacing-large {
  letter-spacing: 1em;
  text-align: center;
  text-indent: 1em;
}

.center{
align: center;
}


