<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>GEB OL - Ny Gren</title>
    <link rel="icon" type="image/png" th:href="@{/images/olympic-rings-geb-square.png}"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="header">
    <div class="inner_header">
        <a th:href="@{/}">
            <img th:src="@{/images/olympic-rings-geb.png}">
            <h2>
                202<span style="letter-spacing:0; color: #AAAAAA;" >1</span>
            </h2>
        </a>
    </div>
</div>
<main>
    <h3>NY GREN</h3>
    <form method="post" th:object="${discipline}">
        <table>
            <tr>
                <td>
                    <h6>Navn</h6>
                    <input type="text" th:field="*{name}" placeholder="f.eks Poker" required>
                </td>
            </tr>
            <tr>
                <td>
                    <h6>Sted</h6>
                    <input type="text" th:field="*{location}" placeholder="f.eks Elvis" required>
                </td>
            </tr>
            <tr>
                <td>
                    <h6>Tid</h6>
                    <input type="datetime-local" th:field="*{date}" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                            <td>
                                <h6 style="width:1vw; display: inline;">Cup</h6>
                                <input style="width:1vw;" type="checkbox" name="cup" value="true" th:field="*{cup}">
                            </td>
                            <td>
                                <button >OPPRETT GREN</button>
                            </td>

                    </table>
                </td>
            </tr>



        </table>
    </form>
</main>
    <!-- Footer -->
    <div class="footer">
        <div class="inner_footer">
            Laget av Ingvild og Sigurd
        </div>
    </div>

</body>
</html>