<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>GEB OL</title>
    <link rel="icon" type="image/png" th:href="@{/images/olympic-rings-geb-square.png}"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="header">
    <div class="inner_header">
        <a th:href="@{/}">
            <div class="center">
            <img th:src="@{/images/olympic-rings-geb.png}" width="250">
            </div>
            <h2 class="spacing-large">
                2021
            </h2>
            <h3>5. - 7. AUGUST</h3>
        </a>
    </div>
</div>
<main>
    <div class="container">
        <a th:href="@{/add-discipline}">
            <div class="nav-button nav-button-admin">
                Ny gren
            </div>
        </a>

        <a th:href="@{/delete-discipline}">
            <div class="nav-button nav-button-admin">
                Slett gren
            </div>
        </a>
    </div>

    <p>
        <a th:href="@{/admin}">
            <button type="button">Tilbake</button>
        </a>
    </p>

    <!--View list of disciplines-->

    <table>
        <tr th:each="discipline : ${disciplineList}">
            <td class="textleft">
                <a th:href="@{/schedule/{name}(name=${discipline.name})}">
                    <span th:text="${discipline.name}">
                    </span>
                </a>
            </td>
        </tr>
    </table>
</main>
<!-- Footer -->
<div class="footer">
    <div class="inner_footer" title="...og Lars hjalp til">
        Laget av Ingvild og Sigurd
    </div>
</div>

</body>
</html>