<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>GEB OL - Slett Gren</title>
    <link rel="icon" type="image/png" th:href="@{/images/olympic-rings-geb-square.png}"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="header">
    <div class="inner_header">
        <a th:href="@{/}">
            <div class="center">
            <img th:src="@{/images/olympic-rings-geb.png}" width="250">
            </div>
            <h2 class="spacing-large">
                2021
            </h2>
            <h3>5. - 7. AUGUST</h3>
        </a>
    </div>
</div>
<main>
    <h3>Slett deltager</h3>
    <span th:if="${allParticipants.size() == 0}">Ingen deltagere opprettet</span>
    <form th:if="${allParticipants.size() > 0}"
          method="post" th:object="${participant}">
        <select th:field="*{id}">
            <option th:each="participant : ${allParticipants}"
                    th:value="${participant.id}"
                    th:text="${participant.name}">
            </option>
        </select>
        <p th:if="${#fields.hasErrors('global')}">
            <p th:each="err: ${#fields.errors('global')}" th:text="${err}" class="error" />
        </p>
        <input type="submit" id="submitButton" value="Slett deltager">
    </form>
    <a th:href="@{/admin/participants}">
        <button type="button">Tilbake</button>
    </a>
</main>
    <!-- Footer -->
    <div class="footer">
        <div class="inner_footer">
            Laget av Ingvild og Sigurd
        </div>
    </div>

</body>
</html>