<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${'GEB OL - ' + discipline.name}"> </title>
    <link rel="icon" type="image/png" th:href="@{/images/olympic-rings-geb-square.png}"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <script th:src="@{/js/p5.min.js}"></script>
</head>
<body>
<div class="header">
    <div class="inner_header">
        <a th:href="@{/}">
            <div class="center">
            <img th:src="@{/images/olympic-rings-geb.png}" width = "250">
            </div>
            <h2 class="spacing-large">
                2021
            </h2>
            <h3>5. - 7. AUGUST</h3>
        </a>
    </div>
</div>
<main>
    <h1 th:text="${discipline.name}"> Name</h1>
    <div class="container">
        <div>
        <h4 th:text="${ #strings.capitalize(weekday) + ' ' + #temporals.day(discipline.date) + '/' + #temporals.month(discipline.date)+ '   ' + #temporals.format(discipline.date, 'HH:mm')}">Day</h4>
        <h4 style="margin-bottom:1cm;" th:text="${discipline.location}"> Location</h4>
        </div>
    </div>

    <h1 th:if="${disciplineResults.size() > 0}" th:text="Resultater"></h1>
    <table th:if="${disciplineResults.size() > 0}">
        <tr>
            <th></th>
            <th>Plass</th>
            <th width = "20"></th>
            <th class="textleft">Navn</th>
            <th>Poeng</th>
        </tr>
    <tr th:each="result, itemStat : ${disciplineResults}">
        <td th:if="${result.place == 1}" >

            <img th:src="@{/images/medalG.png}" width= "26" >

        </td>
        <td th:if="${result.place == 2}">
            <img th:src="@{/images/medalS.png}" width= "25">
        </td>
        <td th:if="${result.place == 3}">
            <img  th:src="@{/images/medalB.png}" width= "24">
        </td>
        <td th:if="${result.place > 3}">

        </td>
        <td th:text="${result.place}">

        </td>
        <td></td>
        <td class="textleft">
            <a th:href="@{/participants/{id}(id=${result.participantId})}"
               th:text="${result.participantName}">
            </a>
        </td>
        <td th:text="${@pointCalculationService.getPointsForPlace(result.place)}"></td>
    </tr>
    </table>

    <h1 th:if="${discipline.isCup}" th:text="Tabell"></h1>

    <script th:if="${discipline.isCup}"
            th:inline="javascript">
      function setup() {
          createCanvas(790, 790);
          textSize(width / 3);
          textAlign(CENTER, CENTER);
          strokeCap(SQUARE);
          noLoop();
      }

      function drawSlot(level, place, radius) {
          const gap = PI/500;
          const slots = level == 0 ? 4 : pow(2, level + 1);
          const weight = (radius(level) - radius(level - 1))/2 - level;
          const arcStart = TWO_PI/slots * place;
          const arcEnd = arcStart + TWO_PI/slots;
          const arcDiameter = radius(level) - weight;

          stroke(196 - 12 * ((place + level) % 2));
          strokeWeight(weight);

          arc(0, 0, arcDiameter, arcDiameter, arcStart + gap, arcEnd - gap);
      }

      function drawSlots(contenders) {
          push();
          const n = contenders.length;
          const levels = ceil(log(n)/log(2));

          const radius = level => {
              if (level < 0) {
                  return 0;
              }

              r0 = width/sqrt(pow(2, levels - 1));
              return sqrt(pow(2, level)) * r0;
          };

          for (i = 0; i < levels; i++) {
              for (j = 0; j < pow(2, i + 1); j++) {
                  drawSlot(i, j, radius);
              }
          }

          drawSlot(0, 2, radius);
          drawSlot(0, 3, radius);

          pop();
      }

      function draw() {
          translate(width/2, height/2);
          rotate(-PI/2);

          noFill();

          // Test array. Should be fetched from server.
          const contenders = ['sigurd', 'ingvild', 'lars'] .concat(Array(8).fill('oki'));
          drawSlots(contenders);

          // Getting data through thymeleaf can be done with an insane amount
          // of brackets and a dollar-sign, like so:
          //   fill(255, 255, 255);
          //   text([[${discipline.name}]], 0, 0);
      }
    </script>

</main>
<!-- Footer -->
<div class="footer">
    <div class="inner_footer" title="...og Lars hjalp til">
        Laget av Ingvild og Sigurd
    </div>
</div>

</body>

</html>