<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
        <title th:text="${'GEB OL - ' + discipline.name}"> </title>
        <link rel="icon" type="image/svg+xml" th:href="@{/images/favicon-gebol-logo.svg}"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet"/>
        <script th:src="@{/js/p5.min.js}"></script>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="inner_header">
                    <a th:href="@{/}">
                        <div class="center">
                            <img th:src="@{/images/gebol-logo.svg}" width="250" height="120">
                        </div>
                        <h2 class="spacing-large">
                            2021
                        </h2>
                        <h3>5. - 7. AUGUST</h3>
                    </a>
                </div>
            </div>
        </div>
        <main>
            <h1>
            <span th:if="${discipline.name == 'Dart'}"> &#127919</span>
            <span th:if="${discipline.name == 'Bowling'}"> &#127923</span>
            <span th:if="${discipline.name == 'Idealtid'}"> &#9201</span>
            <span th:if="${discipline.name == 'Basket'}"> &#127936</span>
            <span th:if="${discipline.name == 'Tennis'}"> &#127934</span>
            <span th:if="${discipline.name == 'Bordtennis'}"> &#127955</span>
            <span th:if="${discipline.name == 'Badminton'}"> &#127992</span>
            <span th:if="${discipline.name == 'Tverra'}"> &#129349</span>
            <span th:if="${discipline.name == 'Frisbeegolf'}"> &#129359</span>
            <span th:if="${discipline.name == 'Beerpong'}">
                 <img th:src="@{/images/beerpong.png}" width = "40" height = "40">
                </span>

            <span th:if="${discipline.name == 'Luftgevær'}">
                <img th:src="@{/images/target.png}" width = "40" height = "40">
            </span>
            <span th:if="${discipline.name == 'Petanque'}">
                <img th:src="@{/images/petanque.png}" width = "40" height = "40">
            </span>
            </h1>
            <h1 th:text="${discipline.name}"> Name</h1>
            <div class="container">
                <div style="margin:10px">
                    <h4 th:text="${#strings.capitalize(weekday) + ' ' + #temporals.day(discipline.date) + '/' + #temporals.month(discipline.date)+ '   ' + #temporals.format(discipline.date, 'HH:mm')}">Day</h4>
                    <h4 th:text="${discipline.location}"> Location</h4>
                </div>
            </div>
            <div class="container">
                <div th:if="${disciplineResults.size() > 0}" class="resultBox">
                    <table>
                        <tr>
                            <td colspan="3">
                                <h2 th:text="Resultater"></h2>
                            </td>
                        </tr>
                        <tr>
                            <th>Plass</th>
                            <th>Navn</th>
                            <th>Poeng</th>
                        </tr>
                        <tr th:each="result, itemStat : ${disciplineResults}">
                            <td th:if="${result.place == 1}">
                                <h2><span>&#129351</span></h2>
                <!--            <img th:src="@{/images/medalG.png}" width= "26" >-->
                            </td>
                            <td th:if="${result.place == 2}">
                                <h2><span>&#129352</span></h2>
                <!--            <img th:src="@{/images/medalS.png}" width= "25">-->
                            </td>
                            <td th:if="${result.place == 3}">
                                <h2><span>&#129353</span></h2>
                <!--            <img  th:src="@{/images/medalB.png}" width= "24">-->
                            </td>
                            <td th:if="${result.place > 3}">
                                <span th:text="${result.place}">
                                </span>
                            </td>
                            <td class="textleft" style="padding:  0 0 0 20px;">
                                <a th:href="@{/participants/{id}(id=${result.participantId})}" th:text="${result.participantName}">
                                </a>
                            </td>
                            <td th:text="${@pointCalculationService.getPointsForPlace(result.place)}"></td>
                        </tr>
                    </table>
                </div>
                <div th:if="${liveResults.size() > 0}" class="bracketBox">
                    <div id="bracketCanvas"></div>
                    <script th:inline="javascript">
                        var levels;

                        function setup() {
                            var canvas = createCanvas();
                            canvas.parent('bracketCanvas');
                            windowResized();
                            windowResized();
                            textAlign(CENTER, CENTER);
                            strokeCap(SQUARE);
                            textFont('Roboto');
                            noLoop();
                        }

                        function windowResized() {
                            var canvasSize = min(canvas.parentNode.parentNode.clientWidth,canvas.parentNode.parentNode.clientWidth, 630);
                            resizeCanvas(canvasSize,canvasSize);
                        }

                        function radius(n) {
                            if (n < 0) {
                                return 0;
                            }
                            const r0 = min(width, height)/sqrt(pow(2, levels - 1));
                            return sqrt(pow(2, n)) * r0;
                        }

                        function drawSlot(liveResult) {
                            const gap = PI/400;
                            const lvl = liveResult.level;
                            const slots = lvl == 0 ? 4 : pow(2, lvl + 1);
                            const weight = (radius(lvl) - radius(lvl - 1))/2 - lvl;
                            const arcStart = TWO_PI/slots * liveResult.place;
                            const arcEnd = arcStart + TWO_PI/slots;
                            const arcDiameter = radius(lvl) - weight;
                            var knockedOutColor = 128;

                            stroke(184 + 24 * ((liveResult.place + lvl) % 2));
                            strokeWeight(weight);

                            if(liveResult.place % 2 == 0 ^ lvl == 0){
                                arc(0, 0, arcDiameter, arcDiameter, arcStart + gap, arcEnd);
                            } else {
                                arc(0, 0, arcDiameter, arcDiameter, arcStart, arcEnd - gap);
                            }

                            push();
                            if (liveResult.place % 2 == 0) {
                                rotate(arcStart + PI/slots + gap/2);
                            } else {
                                rotate(arcStart + PI/slots - gap/2);
                            }

                            if (liveResult.score == -1){
                                liveResult.score = ""
                            }
                            else{
                                liveResult.score = str(liveResult.score)
                            }
                            if (lvl != 0) {
                                translate(radius(lvl + 1) - radius(lvl) + lvl * 2, 0);
                                if (lvl < 4) {
                                    rotate(HALF_PI);
                                    if ((liveResult.place * 4 + slots) % (slots * 4) >= slots * 2) {
                                        rotate(PI);
                                    }
                                } else if (liveResult.place * 2 >= slots) {
                                    rotate(PI);
                                }
                            } else {
                                translate(weight/1.618, 0);
                                rotate(HALF_PI)
                                rotate(-(arcStart + PI/slots));
                            }
                            noStroke();
                            if (!liveResult.knockedOut) {
                                textFont('Roboto');
                            } else {
                                textFont('Roboto Light');
                            }
                            fill(knockedOutColor * liveResult.knockedOut);
                            textFont('Roboto');
                            text(liveResult.participantName, 0, 0);
                            pop();

                            push()
                            const scoreBoxWidth = width/80;
                            const scoreBoxHeight = height/80;

                            rotate(arcStart + PI / slots);
                            var buff = 0;
                            if (lvl != 0) {
                                if ((liveResult.place) % 2 == 0){
                                    rotate(PI/slots);
                                }
                                else{
                                    rotate(- PI / slots);
                                }
                                buff = scoreBoxWidth;
                                if ((liveResult.place) % 2 == 0){
                                    buff = -buff;
                                }
                            }
                            if (lvl > 0){
                                translate(radius(lvl) / 2 - scoreBoxHeight * 1.5, 0);
                            }
                            else{
                                if (liveResult.place % 2 == 0){
                                    translate((weight) / sqrt(2), - ((weight - scoreBoxWidth * 3) / sqrt(2)));
                                }
                                else{
                                    translate((weight) / sqrt(2), ((weight - scoreBoxWidth * 3) / sqrt(2)));
                                }
                            }
                            rotate(HALF_PI);
                            if (lvl == 0){
                                rotate(- (arcStart + PI / slots));
                            }
                            else if (((liveResult.place * 4 + slots) % (slots * 4) >= slots * 2) && lvl != 1){
                                rotate(PI);
                                buff = -buff;
                            }
                            rectMode(RADIUS);
                            noStroke();
                            fill(208 - 24 * ((liveResult.place + lvl) % 2));
                            rect(buff * 1.5, 0, scoreBoxWidth, scoreBoxHeight);

                            fill(0);
                            text(liveResult.score,  buff*1.5, 0);
                            pop();
                        }

                        function draw() {
                            translate(width/2, height/2);
                            rotate(-HALF_PI);
                            noFill();
                            const contenders = [[${liveResults}]];
                            const n = contenders.length;
                            levels = ceil(log(n)/log(2) - 1);
                            contenders.forEach(drawSlot);
                        }
                    </script>

                </div>
            </div>
        </main>
    <!-- Footer -->
        <div class="footer">
            <div class="inner_footer" title="...og Lars hjalp til">
                Laget av Ingvild og Sigurd
            </div>
        </div>

    </body>

</html>
