<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>GEB OL</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<h1>Velkommen til GEB OL!</h1>
<img th:src="@{/images/olympic-rings.png}"/>

<div class="container">
    <div class="center">
        <form th:action="@{/add-discipline}" method="get">
            <input type="submit" value="Add new discipline" />
        </form>

    </div>
</div>

<div class="container">
    <div class="center">
        <form th:action="@{/disciplines}" method="get">
            <input type="submit" value="View disciplines" />
        </form>
    </div>
</div>

</body>
</html>