<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>GEB OL</title>
    <link rel="icon" type="image/png" th:href="@{/images/olympic-rings-geb-square.png}"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
<div class="header">
    <div class="inner_header">
        <a th:href="@{/}">
            <div class="center">
            <img th:src="@{/images/olympic-rings-geb.png}" width="250">
            </div>
            <h2 class="spacing-large">
                2021
            </h2>
            <h3>5. - 7. AUGUST</h3>
        </a>
    </div>
</div>
</div>
<main>
    <h2>Logg inn</h2>
    <div th:if="${error}">
        Klarte ikke å logge deg inn. Sjekk brukernavn og passord
    </div>

    <form method="POST" th:action="@{/login}" id="loginForm">
        <div class="container">
            <table class="sidePadded">
                <tr>
                    <td class="fixed textleft">
                        <label for="username">Brukernavn:</label>
                    </td>
                    <td>
                        <input type="text" name="username" id="username">
                    </td>
                </tr>
                <tr>
                    <td class="fixed textleft">
                        <label for="password">Passord:</label>
                    </td>
                    <td>
                        <input type="password" name="password" id="password">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Logg inn"/>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</main>
<!-- Footer -->
<div class="footer">
    <div class="inner_footer">
        Laget av Ingvild og Sigurd
    </div>
</div>

</body>
</html>