<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>GEB OL - Resultater</title>
    <link rel="icon" type="image/png" th:href="@{/images/olympic-rings-geb-square.png}"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="header">
    <div class="inner_header">
        <a th:href="@{/}">
            <div class="center">
            <img th:src="@{/images/olympic-rings-geb.png}" width="250">
            </div>
            <h2 class="spacing-large">
                2021
            </h2>
            <h3>5. - 7. AUGUST</h3>
        </a>
    </div>
</div>
<main>
<h1>Sammenlagt</h1>
    <table>
        <tr>

            <th> Plass</th>
            <th width="20"></th>
            <th class="textleft">Navn</th>
            <th>Poeng</th>
            <th></th>
        </tr>
        <tr th:each="result, itemStat : ${standingResults}">
            <td th:text="${itemStat.index + 1}"></td>
            <td></td>

            <td class="textleft" >
                <a th:href="@{/participants/{id}(id=${result.participantId})}"
                   th:text="${result.participantName}">
            </td>
            <td th:text="${result.points}"></td>

            <td>

            </td>

        </tr>
    </table>
</main>
    <!-- Footer -->
    <div class="footer">
        <div class="inner_footer">
            Laget av Ingvild og Sigurd
        </div>
    </div>

</body>
</html>